<nav class="menu">
  <app-button buttonType="secondary" buttonSize="medium" buttonText="Home" iconPosition="right" (click)="goHome()"></app-button>
  <app-button buttonType="secondary" buttonSize="medium" buttonText="Enhance a webpage" iconPosition="right" (click)="goToWebpage()"></app-button>
  <app-button buttonType="secondary" buttonSize="medium" buttonText="Minigame" iconPosition="right"></app-button>
  <app-button buttonType="secondary" buttonSize="medium" buttonText="Logout" iconPosition="right" (click)="logout()"></app-button>
  <div id="userName">{{name}}</div>
</nav>
