
.menu{
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-around;
}
#userName{
  color: white;
}


.mybtn{
  color: white;
}
.navbar navbar-expand-lg navbar-dark bg-dark{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


