<div id="wrapper" *ngIf="!isRead">
  <div> Time:
    <cd-timer [autoStart]="true" [startTime]="0" format="ms" (onStop)="setTime()"
              (onTick)="calculateWordsPerMinute()"></cd-timer>
  </div>
  <div [innerHTML]="text.text"></div>
  <app-button buttonText="I have read everything" buttonSize="medium" (click)="stopTimer()"
              [disabledValue]="delay<10"></app-button>
</div>
<div>
  {{wpm}} words/minute
</div>
<div id="quiz-wrapper" *ngIf="isRead">
  <app-quiz [text]="text" [wpm]="wpm"></app-quiz>
</div>

