//.example-radio-group {
//  display: flex;
//  flex-direction: row;
//  margin: 15px 0;
//  align-items: flex-start;
//}
//
//.example-radio-button {
//  margin: 5px;
//}
.form{
  &__input{
    &__question{
      width: 40%;
      height: 50%;
      display: inline-block;
      padding: 2%;
      margin-left: 2px;
      overflow: inherit;
    }
  }
}
