<div *ngIf="isEditing" class="editor">
  <textarea (keydown.enter)="processChanges()"
         (keydown.escape)="cancel()"
          class="textarea-inline-control"
         [(ngModel)]="pendingValue"
         autofocus
         id="edit"
         name="value"
         size="50" type="text" cdkTextareaAutosize
  ></textarea>
  <button (click)="processChanges()" id="save-button"
  mat-raised-button color="accent">
    Save
  </button>
  <a
    (click)="cancel()"
    (keydown.escape)="cancel()"
    tabindex="0">
    Cancel
  </a>
</div>
<div *ngIf="( ! isEditing )" (click)="edit()">
  {{ value }}
</div>
