<div *ngIf="isEditing" class="editor">
  <input
    type="text"
    name="value"
    autofocus
    [(ngModel)]="pendingValue"
    (keydown.enter)="processChanges()"
    (keydown.meta.enter)="processChanges()"
    (keydown.escape)="cancel()"
  />
  <button (click)="processChanges()" id="save-button"
  mat-raised-button color="accent">
    Save
  </button>
  <a
    (click)="cancel()"
    (keydown.escape)="cancel()"
    tabindex="0">
    Cancel
  </a>
</div>
<div *ngIf="( ! isEditing )" (click)="edit()">
  {{ value }}
</div>
