@import '../../../assets/_variables.scss';

.begin {
  font-family: $font-family;
  height: 50%;
  width: 90%;
  margin: auto;
  display: flex;
  //flex-direction: column;
  //&__image {
  //  width: 56%;
  //  height: 100%;
  //  img{
  //    width: 100%;
  //    height: 100%;
  //  }
  //}

  &__wrapper {
    width: 80%;
    height: 100%;
    margin: 10% 10% 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FAF9F6;
    border-radius: 50px;
    box-shadow: 10px 10px 50px rgba(31, 29, 29, 0.7);
    //&__image{
    //  padding-left: 80px;
    //}

    &__content {
      width: 90%;
      height: 90%;
      margin: auto;
      justify-content: center;

      &__title {
        text-transform: capitalize;
        color: $dark-gray;
        font-size: $font-size-regular-medium-large;
        text-align: center;
        padding: 5%;
        margin-top: 5px;
      }

      &__message {
        font-size: $font-size-regular-xxx-large;
        color: $gray-tint-20;
      }

    }
    &__button {
      display: flex;
      font-size: $font-size-regular-xxx-large;
      color: $gray-tint-20;
      justify-content: center;
      margin: 5%;
    }

    &__top {
      .users-table {
        width: 50%;
        margin-left: 23%;
      }

      .mat-column-username {

        border-right: 1px solid currentColor;
        border-left: 1px solid currentColor;
        padding-right: 2%;
        text-align: center;
      }

      .mat-column-placement{
        border-right: 1px solid currentColor;
        padding-right: 5%;
        text-align: center;
      }

      .mat-column-readingSpeed {

        padding-right: 2%;
        text-align: center;
      }

      .mat-column-highScore {
        width: 30%;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

