@import "../../../assets/_variables.scss";

.button {
  cursor: pointer;
  border-radius: $buttons-border-radius;
  text-decoration: none;
  outline: none;
  border: solid 1px $gray;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;

  &_text{
    margin-left: 3px;
    margin-right: 3px;
  }
  &_icon{
    vertical-align: middle;
    transform: translatey(7.5%);
  }

  &--large{
    padding: 8px 28px;
    font-size: $font-size-regular;
  }
  &--medium{
    padding: 6px 24px;
    font-size: $font-size-medium;
  }
  &--small{
    padding: 4px 16px;
    font-size: $font-size-small;
  }
  &--square{
    width: 32px;
    height: 32px;
    font-size: $font-size-regular;
    border: solid 2px;
  }

  &--primary {
    background-color: $gray-tint-10;
    color: $white;
    transition: background-color 0.5s ease-out 1ms;

    ::ng-deep svg {
      path {
        stroke: $white;
      }
    }
  }
  &--primary:hover{
    background-color: #1d2224;
  }

  &--secondary {
    background-color: $white;
    color: $orange;

    ::ng-deep svg {
      path {
        stroke: $orange;
      }
    }

  }

  &--disabled {
    cursor: default;
    background-color: $orange-tint-20;
    pointer-events: none;
  }
}
