<div class="change-test__wrapper">
  <div class="change-test__wrapper__texts">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let text of texts" id="text">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{getFirstTenWords(text.text)}}...
          </mat-panel-title>
          <mat-panel-description>
            {{"Edit the text"}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="change-test__wrapper__texts__edit">
          <app-editable-text [value]="text.text" (valueChange)="saveText( text, $event )"></app-editable-text>
        </div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let question of text.questionsList">
            <mat-expansion-panel-header>
              <mat-panel-title>{{question.text}}</mat-panel-title>
              <mat-panel-description>Edit this Question</mat-panel-description>
            </mat-expansion-panel-header>
            <div class="change-test__wrapper__texts__edit">
              <div class="change-test__wrapper__texts__edit__button">
                <app-editable-text [value]="question.text" (valueChange)="saveQuestion( question, $event )"></app-editable-text>
              </div>
              <div class="change-test__wrapper__texts__edit__button">
                <app-button buttonText="Add another question" buttonSize="medium"
                            (click)="editText(text.id)"></app-button>
              </div>
            </div>
            <mat-accordion>
              <mat-expansion-panel *ngFor="let answer of question.answers">
                <mat-expansion-panel-header>
                  <mat-panel-title>{{answer.text}}</mat-panel-title>
                  <mat-panel-description>Edit this Answer</mat-panel-description>
                </mat-expansion-panel-header>
                <app-editable-text [value]="answer.text" (valueChange)="saveAnswer( answer, $event )"></app-editable-text>
                <div class="change-test__wrapper__texts__answer">
                <div *ngIf="answer.isCorrect">
                <button type="button" [textContent]="'Make the answer false'" (click)="changeValueOfAnswer(answer)" id="trueAnswer" class="button"></button>
                </div>
                <div *ngIf="!answer.isCorrect">
                  <button type="button" [textContent]="'Make the true'" (click)="changeValueOfAnswer(answer)" id="falseAnswer" class="button"></button>
                </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-expansion-panel>
        </mat-accordion>
        <app-button [buttonText]="'Submit the changes'" (click)="submitChanges(text)" [buttonSize]="'medium'" [buttonType]="'secondary'"></app-button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
