@import "../../../assets/_variables.scss";

.change-test__wrapper {
  //margin-top: 10%;
  &__image{
    margin-left: 40%;
  }
  &__texts {
    &__edit {
      display: flex;
      flex-direction: column;
      padding: 5%;
      overflow-wrap: break-word;

      &__button {
        margin-left: 5%;
      }
    }

    &__answer {
      button {
        cursor: pointer;
        border-radius: $buttons-border-radius;
        text-decoration: none;
        outline: none;
        border: solid 1px $gray;
        display: flex;
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
      }

      #trueAnswer {
        background-color: red;
      }

      #falseAnswer {
        background-color: forestgreen;
      }
    }
  }

  &__users {
    &__admins {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &__buttons {

        .adminBtn {
          margin: 1%
        }
      }

      &__errors {
        margin-top: 10px;
        font-size: $font-size-regular;
        font-family: $font-family;
        color: $error-red;
      }
    }
  }
}

#deleteBtn{
  width: 13%;
  margin-top: 1%;
}

#newQuestionBtn{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 30%;
}

#newAnswerBtn{
  margin-top: 2%;
  margin-bottom: 2%;
}

#deleteQuestion{
  margin-top: 2%;
}

#newAnswerInput{
  margin-bottom: 2%;
}

#newText{
  height: 100px;
  width: 80%;
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 2%;
}
