<div class="change-test__wrapper">
  <div class="change-test__wrapper__texts">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let text of texts;let i=index" id="text">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{getFirstTenWords(text.text)}}...
          </mat-panel-title>
          <mat-panel-description>
            {{"Edit the text"}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="change-test__wrapper__texts__edit">
          <app-editable-text [value]="text.text" (valueChange)="saveText( text, $event,i )"></app-editable-text>
          <input [(ngModel)]="newQuestion" (keyup.enter)="addQuestion(text.id,newQuestion,i)">
          <app-button buttonText="Add another question" buttonSize="medium"
                      (click)="addQuestion(text.id,newQuestion,i);"></app-button>
          <button mat-raised-button color="warn" (click)="deleteText(text.id);">Delete text</button>
        </div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let question of text.questionsList">
            <mat-expansion-panel-header>
              <mat-panel-title>{{question.text}}</mat-panel-title>
              <mat-panel-description>Edit this Question</mat-panel-description>
            </mat-expansion-panel-header>
            <div class="change-test__wrapper__texts__edit">
              <div class="change-test__wrapper__texts__edit__button">
                <app-editable-text [value]="question.text"
                                   (valueChange)="saveQuestion( question, $event,i )"></app-editable-text>
                <input [(ngModel)]="newAnswer" (keyup.enter)="addAnswer(text.id,question.id,newAnswer,i)">
                <app-button buttonText="Add another answer" buttonSize="medium"
                            (click)="addAnswer(text.id,question.id ,newAnswer,i);"></app-button>
                <button mat-raised-button color="warn" (click)="deleteQuestion(text.id,question.id);">Delete question
                </button>
              </div>
            </div>
            <mat-accordion>
              <mat-expansion-panel *ngFor="let answer of question.answers">
                <mat-expansion-panel-header>
                  <mat-panel-title>{{answer.text}}</mat-panel-title>
                  <mat-panel-description>Edit this Answer</mat-panel-description>
                </mat-expansion-panel-header>
                <app-editable-text [value]="answer.text"
                                   (valueChange)="saveAnswer( answer, $event,i )"></app-editable-text>
                <div class="change-test__wrapper__texts__answer">
                  <div *ngIf="answer.isCorrect">
                    <button mat-raised-button color="warn" type="button" [textContent]="'Make the answer false'"
                            (click)="changeValueOfAnswer(answer,i)"
                             class="button"></button>
                  </div>
                  <div *ngIf="!answer.isCorrect">
                    <button mat-raised-button type="button" [textContent]="'Make the answer true'" (click)="changeValueOfAnswer(answer,i)"
                            id="falseAnswer" class="button" color="warn"></button>
                  </div>
                  <button mat-raised-button color="warn" (click)="deleteAnswer(text.id,question.id,answer.id);">Delete
                    answer
                  </button>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-expansion-panel>
        </mat-accordion>
        <app-button [buttonText]="'Submit the changes'" (click)="submitChanges(text,i)" [buttonSize]="'medium'"
                    [buttonType]="'secondary'" [disabledValue]="!isChanged[i]"></app-button>
      </mat-expansion-panel>
    </mat-accordion>
    <input [(ngModel)]="newText" (keyup.enter)="addNewText(newText)" placeholder="Add a new text"/>
    <div *ngIf="newText!==''">
      <app-button [buttonText]="'Add a new text'" buttonSize="medium" (click)="addNewText(newText)"></app-button>
    </div>
  </div>
  <div class="change-test__wrapper__users">
    <mat-accordion>
      <mat-expansion-panel id="user">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Manage users' rights
          </mat-panel-title>
          <mat-panel-description> Edit the users</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="change-test__wrapper__users__admins" *ngFor="let user of users">
          {{user.name}} {{user.lastName}}- {{user.username}}
          <div class="change-test__wrapper__users__admins__buttons">
          <div *ngIf="!user.isAdmin">
            <button mat-raised-button color="primary" (click)="changeAdmin(user.id)" class="adminBtn">Make this user admin</button>
            <button mat-raised-button disabled class="adminBtn">Remove admin privileges</button>
          </div>
          <div *ngIf="user.isAdmin">
            <button mat-raised-button disabled class="adminBtn">Make this user admin</button>
            <button mat-raised-button color="primary" (click)="changeAdmin(user.id)" class="adminBtn">Remove admin privileges</button>
          </div>
          </div>
        </div>
        <div class="change-test__wrapper__users__admins__errors" *ngIf="adminError.length!==0" >
          {{adminError}}
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
