@import "../../../assets/_variables.scss";

.change-test__wrapper {
  //margin: 10% 15%;
  &__texts {
    &__edit {
      display: flex;
      padding: 5%;
      overflow-wrap: break-word;

      &__button {
        margin-left: 5%;
      }
    }
    &__answer{
      button{
        cursor: pointer;
        border-radius: $buttons-border-radius;
        text-decoration: none;
        outline: none;
        border: solid 1px $gray;
        display: flex;
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
     #trueAnswer{
       background-color: red;
     }
      #falseAnswer{
        background-color: forestgreen;
      }
    }
  }

  &__users{
    &__admins{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &__buttons{

        .adminBtn{
          margin: 1%
        }
      }
    }
  }
}

