<div class="register">
  <div class="register__back">
  <app-button buttonType="secondary" buttonText="Back" buttonSize="medium" (click)="backToLogin()" [iconPosition]="'left'" [iconLink]="'assets/arrow-left.svg'"></app-button>
  </div>
  <div class="register__image">
    <img src="assets/logo_full-01.png" alt="img"/>
  </div>
  <div class="register__wrapper">

    <div class="register__wrapper__content">
      <h2 class="register__wrapper__content__message">Register to Reading Enhancer</h2>
      <app-register-form class="register__wrapper__content__form"></app-register-form>
    </div>
  </div>
</div>
