<form class="url_form" [formGroup]='urlForm' (ngSubmit)="onSubmit()">
  <div class="url-form__input">
    <app-input [formGroup]='urlForm' inputType="text" label="Enhance a webpage" [controlName]="'enhancedWebpage'"></app-input>
  </div>
  <div class="url_form__actions">
    <div class="url_form__actions__button">
      <app-button [disabledValue]="!urlForm.valid" buttonText="Enhance!" iconPosition="right"
                  buttonSize="large"></app-button>
    </div>
  </div>
</form>

<div class="enhancedPage">
    <app-button (clickBtn)="openModal('webpage-modal')" buttonText="View Page" buttonSize="medium"></app-button>
</div>

<app-modal id="webpage-modal">
  <div [innerHTML]="webpage"></div>
  <app-button (clickBtn)="closeModal('webpage-modal')" buttonText="Close"></app-button>
</app-modal>
