<div class="url">
  <div class="url__image">
  </div>
  <div class="url__wrapper">
    <div class="url__wrapper__content">
      <div class="url__wrapper__content__image">
        <img src="assets/logo-01.png" width="70" height="70" alt="Logo">
      </div>
      <h1 class="url__wrapper__content__title">Reading enhancer</h1>
      <h3 class="url__wrapper__content__message">Enter your URL for the webpage</h3>
      <app-url-form class="url__wrapper__content__url_form"></app-url-form>
    </div>
  </div>
</div>
