<div class="login">
  <div class="login__image">
  </div>
  <div class="login__wrapper">

    <div class="login__wrapper__content">
      <h3 class="login__wrapper__content__title">Enhanced Reading</h3>
      <h2 class="login__wrapper__content__message">Login to your account</h2>
      <app-login-form class="login__wrapper__content__form"></app-login-form>
    </div>
    <p>Don't have an account?</p>
    <app-button buttonType="secondary" buttonText="Register Here" buttonSize="medium" (click)="toRegister()"></app-button>
  </div>
</div>

